.catalog-container {
  padding: 18px;
}

.catalog-container h1 {
  color: #ffffff;
  margin-left: 550px;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .catalog-container {
    padding: 40px;
  }
}